html, body {
    margin: 0;
    padding: 0;
    width: 550px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

#form {
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}

#title {
    font-size: 28px;
    color: #FFFFFF;
}

#input {
    width: 117px;
    height: 83px;
    margin: 33px auto 0px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    background-color: #6943FF;
    font-size: 58px;
    color: white;
    text-align: center;
}

#convert-btn {
    margin: 27px auto 0px;
    width: 117px;
    height: 42px;
    border-radius: 5px; 
    border: none;
    font-weight: bold;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}


#convert-section {
    background-color: #F4F4F4;
    text-align: center;
    padding: 5px;
}

.section {
    margin: 15px 10px;
    background-color: white;
    padding: 20px 5px 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
